.Song {
    width: 100%;
    background-color: #f2f2f7;
}
.Song_header {
    width: 100%;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 100;
}
.Song_header.true {
    background-color: #fff;
    box-shadow: 1px -1px 8px rgba(18, 18, 18, 0.4);
}
.SH {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    padding-top: 21px;
}

.SH_logo {
    width: max-content;
}
.SH_logo {
    text-decoration: none;
    width: max-content;
    display: flex;
    align-items: center;
}
.SH_logo img {
    width: 39px;
    height: 36px;
    border-radius: 50%;
    background: hsla(0, 0%, 100%, 0.15);
}
.Song_header.true .SH_logo img {
    background: rgba(18, 18, 18, 0.81);
}
.SH_logo.footer_logo img {
    background: rgba(18, 18, 18, 0.45);
}
.SH_logo span {
    margin-left: 12px;
    font-size: 24px;
    color: var(--white);
    font-weight: 800;
}
.Song_header.true .SH_logo span {
    color: rgba(18, 18, 18, 0.85);
}
.SH_button {
    width: max-content;
    background: #fff;
    padding: 9px 23px;
    outline: none;
    border: none;
    border-radius: 18px;
}
.Song_header.true .SH_button {
    background-color: rgba(18, 18, 18, 0.95);
    padding-bottom: 10px;
}
.SH_button span {
    font-weight: 540;
    font-size: 16.5px;
    opacity: 0.8;
}
.Song_header.true .SH_button span {
    color: var(--white);
    opacity: 1;
}
.Song_main {
    width: 100%;
    margin-top: -96px;
}
.SM_top {
    width: 100%;
    position: relative;
}
.SMt_bg {
    width: 100%;
    height: 280px;
    background-color: #444d54;
}
.SMt_content {
    width: 100%;
    padding: 21px 100px;
    margin-top: -170px;
    display: flex;
}
.song-cover {
    width: 260px;
    height: 260px;
}
.song-cover img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 1px solid #aaaaaa;
}
.SMtc {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}
.song-details h2 {
    margin: 8px 0px;
    margin-top: 9px;
    color: var(--white);
    font-size: 36px;
}
.song-details p {
    color: var(--white);
    font-size: 20.5px;
    font-weight: 500;
    margin: 11px 0;
}
.sd {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.sd span {
    font-size: 16.5px;
    color: var(--white);
    opacity: 0.72;
}
.sd-icon {
    width: 16px;
    height: 16px;
    color: var(--white);
    opacity: 0.7;
    margin-left: 9px;
}
.sd-logo {
    margin: 0px 9px;
    width: 35px;
    height: 33px;
    border-radius: 50%;
    background-color: hsla(0, 0%, 100%, 0.1);
}
.sd-logo img {
    width: 100%;
    height: 100%;
}
.sd-with-loader {
    width: max-content;
    display: inline-block;
}
.sd-with-loader > div {
    width: 45px;
    height: 27px;
    border-radius: 7px;
}

.song-buttons {
    margin-top: 36px;
    display: flex;
    align-items: center;
}
.song-buttons button, .song-buttons a {
    width: 180px;
    border-radius: 30px;
    border: 0px solid transparent;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.player {
    background-color: rgba(18, 18, 18, 0.95);
    padding: 9px 8px;
}
.player:hover {
    background-color: rgba(18, 18, 18, 0.89);
}
.sharer {
    background-color: rgba(18, 18, 18, 0.15);
    margin-left: 15px;
    padding: 18px 6px;
    justify-content: center;
    align-items: center;
    opacity: 0.84;
}
.sharer:hover {
    background-color: rgba(18, 18, 18, 0.18);
}
.song-buttons button span, .song-buttons a span {
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}
.player span {
    color: var(--white);
    margin-left: 12px;
}
.sharer span {
    color: #000000;
    margin-top: 2px;
}
.player > div {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: rgb(248, 57, 89);
    display: flex;
    align-items: center;
    justify-content: center;
}
.player .sb-icon {
    width: 25px;
    height: 25px;
    color: var(--white);
    margin-right: 3px;
}
.sharer .sb-icon {
    width: 18px;
    height: 18px;
    color: #000000;
}
.song-extra {
    margin-top: 12px;
    font-size: 16.5px;
    font-weight: 500;
    opacity: 0.87;
}
.SM_mid {
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    background-color: #f2f2f7;
}
.smm_vid {
    width: min(50%, 680px);
    height: 390px;
    position: relative;
}
.smm_vid .smm_y_vid, .smm_vid > div {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.smmv {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.smmv.loaded {
    display: none;
}
.smm_div {
    width: max-content;
    max-width: 45%;
}
.smm_div h1 {
    font-size: 34.5px;
    font-weight: 800;
    margin-top: 0px;
}
.smm_div p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.smm_div > ul {
    display: inline-block;
    list-style-type: disc;
    margin: 0;
    padding-left: 20px;
}
.smm_div ul li {
    display: list-item;
    width: 100%;
    margin-top: 18px;
}
.smmd_li {
    display: flex;
    flex-direction: column;
}
.smm_span_1 {
    font-size: 16.5px;
    opacity: 0.96;
}
.smm_span_2 {
    margin-top: 10px;
    font-size: 16px;
    opacity: 0.77;
}

.other_songs {
    margin-top: 15px;
    padding: 10px 100px;
}
.other_songs > h1 {
    font-size: 36px;
    font-weight: 800;
}
.Songs_Slider {
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: inline mandatory;
    margin-top: 38px;
}
.Songs_Slider ul {
    width: max-content;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.song_Li {
    width: 480px;
    height: 250px;
    margin-left: 30px;
    scroll-snap-align: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.song_Li:first-child {
    margin-left: 0px;
}
.song_Li > div, .sL_y_vid {
    width: 100%;
    height: 100%;
}
.sL-loader {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.sL-loader.true {
    display: none;
}
.Song .Home_footer {
    padding: 45px 100px;
    margin-top: 60px;
}

@media screen and (max-width: 1300px) {
    .smm_div h1 {
        font-size: 26.5px;
    }
    .smm_div p {
        font-size: 15px;
    }
    .smm_div ul li {
        margin-top: 12px;
    }
    .smm_span_1 {
        font-size: 14.5px;
    }
    .smm_span_2 {
        margin-top: 10px;
        font-size: 14px;
    }
}
@media screen and (max-width: 1200px) {
    .smm_div h1 {
        font-size: 25px;
    }
    .smm_div p {
        margin-bottom: 6px;
    }
    .smm_div ul li {
        margin-top: 12px;
    }
    .smm_span_1 {
        font-size: 14px;
    }
    .smm_span_2 {
        margin-top: 10px;
        font-size: 13.5px;
    }
}
@media screen and (max-width: 1100px) {
    .SH, .SMt_content, .SM_mid {
        padding-left: 75px;
        padding-right: 75px;
    }
}
@media screen and (max-width: 1049px) {
    .smm_div h1 {
        font-size: 23.5px;
    }
    .smm_div ul li {
        margin-top: 10px;
    }
}
@media screen and (max-width: 800px) {
    .SH, .SMt_content, .SM_mid {
        padding-left: 50px;
        padding-right: 50px;
    }
    .SM_mid {
        flex-direction: column;
        align-items: center;
    }
    .SM_mid > div {
        width: 100%;
        max-width: 100%;
    }
    .smm_div {
        margin-top: 30px;
    }
    .smm_div h1 {
        font-size: 26.5px;
    }
    .smm_div p {
        margin-bottom: 8px;
        font-size: 16px;
    }
    .smm_div ul li {
        margin-top: 12px;
    }
    .smm_span_1 {
        font-size: 14.5px;
    }
    .smm_span_2 {
        font-size: 14px;
    }
}
@media screen and (max-width: 680px) {
    .SMt_bg {
        height: 440px;
    }
    .SMt_content {
        flex-direction: column;
        align-items: center;
        margin-top: -360px;
    }
    .song-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .song-cover {
        width: 210px;
        height: 210px;
    }
    .SMtc {
        max-width: 100%;
        margin-top: 6px;
        margin-left: 0px;
    }
    .song-details h2 {
        font-size: 27px;
    }
    .song-details p {
        font-size: 17px;
        margin: 0;
    }
    .sd {
        margin-top: 8px;
    }
    .sd span {
        font-size: 14.5px;
    }
    .sd-icon {
        width: 15px;
        height: 15px;
    }
    .sd > div {
        width: 30px;
        height: 27px;
    }
    .song-extra {
        text-align: center;
        margin-top: 18px;
    }
    .SM_mid {
        margin-top: 0px;
    }
}
@media screen and (max-width: 600px) {
    .SH, .SMt_content, .SM_mid {
        padding-left: 30px;
        padding-right: 30px;
    }
    .smm_vid {
        height: 300px;
    }
}
@media screen and (max-width: 500px) {
    .SH, .SMt_content, .SM_mid {
        padding-left: 20px;
        padding-right: 20px;
    }
    .smm_vid {
        height: 280px;
    }
    .smm_div h1 {
        font-size: 25.5px;
    }
    .smm_div p {
        font-size: 15px;
    }
    .smm_div > ul {
        padding-left: 20px;
    }
    .smm_div ul li {
        margin-top: 12px;
    }
    .smm_span_1 {
        font-size: 14.5px;
    }
    .smm_span_2 {
        font-size: 14px;
        margin-top: 7px;
    }
}
@media screen and (max-width: 400px) {
    .song-buttons button span, .song-buttons a span {
        font-size: 15px;
    }
    .player {
        padding: 6px 8px;
    }
    .player > div {
        width: 36px;
        height: 36px;
    }
    .player .sb-icon {
        width: 20px;
        height: 20px;
    }
    .sharer {
        padding: 15px 6px;
    }
}

.youtube-iframe-error {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    top: 0px;
    left: 0px;
    background-color: #a5a4a4;
    opacity: 0.85;
    border-radius: inherit;
}
.youtube-iframe-error > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.yie-icon {
    width: 72px;
    height: 72px;
    color: var(--white);
}
.youtube-iframe-error > div h3 {
    font-size: 24px;
    font-weight: 800;
    margin: 10px;
    margin-top: 24px;
    color: var(--white);
}
.youtube-iframe-error > div p {
    font-size: 15px;
    color: var(--white);
    opacity: 0.78;
    margin-top: 5px;
}